<div class="TPL_BANDEAU_BAS">
    <div class="logoBas">
        <img src="../../front/design/img/logo.png" alt="">
    </div>
    <div class="reseaux">
        <ul>
            <li class="discord">
                <img src="../../front/design/img/rsn/discord.svg" alt="">
            </li>
            <li class="twitter">
                <img src="../../front/design/img/rsn/twitter.svg" alt="">
            </li>
            <li class="facebook">
                <img src="../../front/design/img/rsn/facebook.svg" alt="">
            </li>
            <li class="youtube">
                <img src="../../front/design/img/rsn/youtube.svg" alt="">
            </li>
        </ul>
    </div>
    <div class="liensBas">
        <ul>
            <li>
                <a href="#">Mentions légales</a>
            </li>
            <li>
                <a href="#">Conditions générales d'utilisation</a>
            </li>
            <li>
                Développé par la team <span class="teamName">MGM</span>
            </li>
        </ul>
    </div>
</div>