<div class="TPL_BANDEAU_HAUT">
    <a href="http://localhost/projetNode/front/view/index.html">
        <img src="http://localhost/projetNode/front/design/img/logo.png" alt="">
    </a>
    <div id="searchbar">
        <form action="" class="formulaire">
            <input class="champ" type="text" placeholder="Rechercher des images" />
        </form>
    </div>
    <a href="http://localhost/projetNode/front/view/connexion.html">
        <button>
            S'inscrire | Se connecter
        </button>
    </a>

</div>