<!doctype html>
<html lang=fr>

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../design/style/default.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <title>Connexion</title>
</head>

<body>
    <div id="header"></div>
    <div class="TPL_CONNEXION">
        <h1>Connexion</h1>
        <div class="form">
            <label for="email">Login ou adresse mail</label>
            <input type="email" name="email" id="email" />
            <br />
            <label for="password">Mot de passe</label>
            <input type="password" name="password" id="password" />
            <div id="erreur"></div>
            <p><a href="#">Mot de passe oublié ?</a></p>
            <span class="envoyer">
            <button onclick="connexion()">Se connecter</button>
        </span>
            <p class="inscription"><a href="./inscription.html">pas encore inscrit? Inscris toi</a></p>
        </div>
    </div>
    <div id="footer"></div>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="../controler/connexion.js"></script>
    <script src="../controler/integrationHeaderFooter.js"></script>
</body>

</html>