<!doctype html>
<html lang=fr>

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../design/style/default.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <title>Recherche</title>
</head>

<body>
    <div id="header"></div>
    <div class="TPL_RECHERCHE">
        <div class="infosRecherche">
            <h1>Images</h1>
            <p><span id="nbImagesRecherche">271</span> résultats</p>
        </div>
        <div class="liste">
            <ul>
                <li>
                    <div class="utilisateur">
                        <img src="../design/img/users/user1.jpeg" alt="">
                        <span>XxDarkSasukexX</span>
                    </div>
                    <div class="imageListe">
                        <img src="../design/img/nft/sinjeCesar.png" alt="Un sinje">
                    </div>
                    <div class="infos">
                        <div class="infos_haut">
                            <p class="prix">5,50 €</p>
                            <p class="favoris">❤️<span class="nbFavoris">2</span></p>
                        </div>
                        <div class="description">Sinje</div>
                    </div>
                    <a href=""></a>
                </li>
                <li>
                    <div class="utilisateur">
                        <img src="../design/img/users/user2.jpg" alt="">
                        <span>SasukeSteak</span>
                    </div>
                    <div class="imageListe">
                        <img src="../design/img/nft/thanos.jpg" alt="Thanos de la hess">
                    </div>
                    <div class="infos">
                        <div class="infos_haut">
                            <p class="prix">1550,90 €</p>
                            <p class="favoris">❤️<span class="nbFavoris">971</span></p>
                        </div>
                        <div class="description">Tanos version beau bougre 🔥</div>
                    </div>
                    <a href=""></a>
                </li>
                <li>
                    <div class="utilisateur">
                        <img src="../design/img/users/user3.jpg" alt="">
                        <span>WorldSun</span>
                    </div>
                    <div class="imageListe">
                        <img src="../design/img/nft/paysage.jpg" alt="Mashallah le paysage">
                    </div>
                    <div class="infos">
                        <div class="infos_haut">
                            <p class="prix">26,00 €</p>
                            <p class="favoris">❤️<span class="nbFavoris">23</span></p>
                        </div>
                        <div class="description">Jardin/Église je sais plus xD</div>
                    </div>
                    <a href=""></a>
                </li>
                <li>
                    <div class="utilisateur">
                        <img src="../design/img/users/user4.png" alt="">
                        <span>RiverMoon</span>
                    </div>
                    <div class="imageListe">
                        <img src="../design/img/nft/tog.jpg" alt="Meilleur webtoon du monde">
                    </div>
                    <div class="infos">
                        <div class="infos_haut">
                            <p class="prix">127,25 €</p>
                            <p class="favoris">❤️<span class="nbFavoris">37</span></p>
                        </div>
                        <div class="description">Bam.</div>
                    </div>
                    <a href=""></a>
                </li>
            </ul>
        </div>
    </div>
    <div id="footer"></div>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="../controler/integrationHeaderFooter.js"></script>
    <script src="../controler/deconnexion.js"></script>
</body>

</html>